img{
    width: 100%;
    height: auto;
}
.description {
    border: #777777 solid 1px;
    line-height: 25px;
    text-align: center;
    padding: 10px;
}
.responsive > div{
    margin-bottom: 20px;
}
.responsive img {
    border: #777777 solid 1px;
}
.col-xs-6:hover {
    border: 1px solid #777;

}
.col-xs-3:hover {
    border: 1px solid #777;

}
#para {
    padding: 6px;
    clear: both;
}
/*h1, h5 {*/
    /*text-align: left;*/
/*}*/